<h1>Administration</h1>

<div class="container">
	<div class="alert alert-success" role="alert">
		<div class="row">
			<div class="col-sm" title="Diese ID dient dazu, an dieser Umfrage teilzunehmen.">
				Umfrage-ID
			</div>
			<div class="col-sm">
				<input type="text" class="form-control" value="%%UMFRAGEID%%" disabled="disabled">
			</div>
			<div class="col form-group">
				<a href="%%UMFRAGEIDLINK%%" target="_blank">
					<button type="button" class="btn btn-light">Link öffnen</button>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm" title="Dieser Code erlaubt es die Einstellungen dieser Umfrage zu bearbeiten und die Ergebnisse einzusehen.">
				Admin-Code
			</div>
			<div class="col-sm">
				<input type="text" class="form-control" value="%%ADMINCODE%%" disabled="disabled">
			</div>
			<div class="col form-group">
				<a href="%%ADMINCODELINK%%" target="_blank">
					<button type="button" class="btn btn-light">Link öffnen</button>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm" title="Liste (kommagetrennt) von E-Mail-Adressen, die bei neuen Eintragungen benachrichtigt werden.">
				E-Mail Benachrichtigung
			</div>
			<div class="col-sm">
				<input type="text" class="form-control" value="%%NOTIFMAILS%%" id="notifmailsList">
			</div>
			<div class="col form-group">
				<button type="button" class="btn btn-light" id="notifmailsSave">E-Mail-Adressen speichern</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<h2 title="Name dieser Umfrage.">%%POLLNAME%%</h2>
		</div>
	</div>
	<div class="alert alert-info" role="alert">
		<div class="row">
			<div class="col-sm">
				<div class="parseasmarkdown" title="Beschreibung dieser Umfrage.">
					%%POLLDESCRIPT%%
				</div>
			</div>
			<div class="col-sm">
				<p><span class="badge badge-secondary" title="Typ dieser Umfrage: Termin (keine maximale Anzahl pro Termin und öffentliche Teilnehmerliste) oder Helfer (maximale Anzahl und Teilnehmerliste nur für Admins sichtbar) finden.">%%POLLTYPE%%</span></p>
				<button type="button" class="btn btn-light" id="umfreditbutton" title="Namen und Beschreibung dieser Umfrage anpassen.">
					Bearbeiten
				</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h3>Termine</h3>
		</div>
		<div class="col-sm">
			Hinweise zu den Terminen
		</div>
	</div>
	<div class="container">
<!--MULTIPLE-Termin-BEGIN-->
		<div class="row admin-row">
			<div class="col-sm">
				<div class="form-group">
					<p>
						<b>%%NAME%%</b>
					</p>
					<p title="Anzahl abgegebener Antworten und falls vorhanden Anzahl maximaler Antworten.">
						%%ANZAHL%%
					</p>
				</div>
			</div>
			<div class="col-sm">
				<div class="parseasmarkdown">
					%%HINWEISE%%
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<button type="button" class="btn btn-light editbutton" id="%%TERMINID%%" title="Anpassen des Names, der Anzahl sowie des Hinweises zu diesem Termin.">
					Bearbeiten
				</button>
			</div>
			<div class="col-sm col-sm-10">
				Ergebnisse für diesen Termin:
				%%TEILNEHMER%%
			</div>
		</div>
<!--MULTIPLE-Termin-END-->
		<div class="row" style="margin-top: 1rem;">
			<div class="col-sm">
				<div class="form-group">
					<button type="button" class="btn btn-secondary editbutton" id="addadate" title="Hinzufügen eines weiteren Termins am Ende der Umfrage.">
						Termin hinzufügen
					</button>
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group" title="Die Position von zwei Terminen tauschen (nur möglich solange noch keine Ergebnisse vorhanden).">
					<button type="button" class="btn btn-secondary" id="swapbutton">
						Termine tauschen
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-secondary" role="alert">
		<div class="row">
			<div class="col-sm" title="Weitere Eingaben neben Name und E-Mail-Adresse in der Umfrage vom User abfragen.">
				<h3>Weitere Eingabefelder</h3>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-light" id="saveadditionalinputs" title="Untenstehende Felder übernehmen (Änderungen sind nur möglich, solange noch keine Antworten vorhanden sind).">
					Weitere Felder speichern
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<ul class="list-group" id="listofadditionals">
					<li class="list-group-item">
						<span class="ui-icon ui-icon-pencil" title="Texteingabe"></span>
						Name
						<span title="Verpflichtend">*</span>
					</li>
					<li class="list-group-item">
						<span class="ui-icon ui-icon-pencil" title="Texteingabe"></span>
						E-Mail-Adresse
						(optional)
					</li>
<!--MULTIPLE-Additionals-BEGIN-->
					<li class="list-group-item additionals-element" additionals-data="%%ADDDATA%%">
						<span class="ui-icon ui-icon-%%ADDTYPE%%"></span>
						<span class="additionals-name">%%ADDNAME%%</span>
						%%REQOPT%%
						<span class="ui-icon ui-icon-trash additionals-delete"></span>
					</li>
<!--MULTIPLE-Additionals-END-->
				</ul>
			</div>
		</div>
		<div class="row additionalscreate">
			<div class="col-sm">
				<h4>Eingabefelder hinzufügen</h4>
			</div>
		</div>
		<div class="row form-group additionalscreate">
			<div class="col-sm">
				<input type="text" placeholder="Name bzw. Text des Feldes" class="form-control" id="additionals-text">
			</div>
		</div>
		<div class="row form-group additionalscreate">
			<div class="col-sm">
				<select class="form-control" id="additionals-type">
					<option value="text">Texteingabe</option>
					<option value="checkbox">Checkbox mit Text</option>
				</select>
			</div>
			<div class="col-sm">
				<select class="form-control" id="additionals-req">
					<option value="req">Verpflichtend</option>
					<option value="opt">Optional</option>
				</select>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-light" id="addadditionalinputs" title="Dieses Feld hinzufügen (Bitte danach noch speichern!).">
					Hinzufügen
				</button>
			</div>
		</div>
	</div>
	<div class="alert alert-primary" role="alert">
		<div class="row form-group">
			<div class="col-sm">
				<a href="%%EXPORTLINK%%" target="_blank">
					<button type="button" class="btn btn-primary" title="Export aller Ergebnisse der Umfrage als CSV.">
						Export
					</button>
				</a>
			</div>
			<div class="col-sm">
				<a href="%%PRINTLINK%%" target="_blank">
					<button type="button" class="btn btn-primary" title="Anzeigen einer für den Druck optimierten Ansicht mit allen Ergebnissen.">
						Druckansicht
					</button>
				</a>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm">
				<button type="button" class="btn btn-danger" id="deleteerg" title="Alle Ergebnisse der Umfrage löschen, ohne die Umfrage selbst zu löschen.">
					Ergebnisse löschen
				</button>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-danger" id="deleteall" title="Die gesamte Umfrage und die Ergebnisse löschen.">
					Umfrage löschen
				</button>
			</div>
		</div>
	</div>
</div>

<div id="editpoll" class="d-none" title="Allgemeine Informationen zur Umfrage bearbeiten.">
	<div class="form-group">
		<input type="text" class="form-control pollname" placeholder="Name der Umfrage"><br />
		<textarea placeholder="Beschreibung der Umfrage" class="form-control description"></textarea><br/>
		<small class="form-text text-muted">Grundlegendes Markdown unterstützt: <b>**fett**</b>, <em>*kursiv*</em>, - Liste, ### Ueberschrift</small>
		<div class="alert alert-danger d-none" role="alert">
			Konnte die Änderungen nicht speichern!
		</div>
	</div>
</div>
<div id="editdate" class="d-none" title="Einen Termin der Umfrage anpassen oder hinzufügen.">
	<div class="form-group">
		<input type="text" class="form-control datename" placeholder="Name des Termins"><br />
		<input type="number" class="form-control personlim" placeholder="Anzahl an Personen"><br />
		<textarea placeholder="Hinweise zum Termin" class="form-control notes"></textarea><br/>
		<small class="form-text text-muted">Grundlegendes Markdown unterstützt: <b>**fett**</b>, <em>*kursiv*</em>, - Liste, ### Ueberschrift</small>
		<div class="alert alert-danger d-none" role="alert">
			Konnte die Änderungen nicht speichern!
		</div>
	</div>
</div>
<div id="deletepoll" class="d-none" title="Löschen?">
	<div class="pollsubm" class="d-none">
		<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
		Wollen Sie wirklich alle Ergebnisse der Umfrage löschen?<br />
		Dies lässt sich nicht rückgängig machen!
	</div>
	<div class="pollentire" class="d-none">
		<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
		Wollen Sie wirklich die gesamte Umfrage inklusive allen Ergebnissen löschen?<br />
		Dies lässt sich nicht rückgängig machen!
	</div>
</div>
<div id="swapdate" class="d-none" title="Tausch der Position von zwei Terminen.">
	<div class="form-group">
		<select class="form-control" id="swapA">
		</select>
		<span class="ui-icon ui-icon-arrowthick-2-e-w"></span>
		<select class="form-control" id="swapB">
		</select>
	</div>
	<div class="alert alert-danger d-none" role="alert">
		Konnte den Tausch nicht durchführen!
	</div>
</div>
<div id="delsingle" class="d-none" title="Eintrag löschen?">
	<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
		Wollen Sie wirklich den Eintrag löschen?<br />
		Dies lässt sich nicht rückgängig machen!
	</div>
</div>

<script>
	localStorage.removeItem('newPollData');
	var template_data = JSON.parse( '%%JSONDATA%%' );
	var template_name = 'admin';
</script>