<h1>Admin</h1>

<div class="container">
	<div class="alert alert-success" role="alert">
		<div class="row">
			<div class="col-sm" title="This ID can be used to submit the poll.">
				Poll-ID
			</div>
			<div class="col-sm">
				<input type="text" class="form-control" value="%%UMFRAGEID%%" disabled="disabled">
			</div>
			<div class="col form-group">
				<a href="%%UMFRAGEIDLINK%%" target="_blank">
					<button type="button" class="btn btn-light">Open link</button>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm" title="This code is used to edit the settings of this poll and to view the submissions.">
				Admin-Code
			</div>
			<div class="col-sm">
				<input type="text" class="form-control" value="%%ADMINCODE%%" disabled="disabled">
			</div>
			<div class="col form-group">
				<a href="%%ADMINCODELINK%%" target="_blank">
					<button type="button" class="btn btn-light">Open link</button>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm" title="List (divided by comma) of mail addresses which receive an email on new submissions.">
				E-Mail notification
			</div>
			<div class="col-sm">
				<input type="text" class="form-control" value="%%NOTIFMAILS%%" id="notifmailsList">
			</div>
			<div class="col form-group">
				<button type="button" class="btn btn-light" id="notifmailsSave">Save addresses</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<h2 title="The name of this poll.">%%POLLNAME%%</h2>
		</div>
	</div>
	<div class="alert alert-info" role="alert">
		<div class="row">
			<div class="col-sm">
				<div class="parseasmarkdown" title="The description of this poll.">
					%%POLLDESCRIPT%%
				</div>
			</div>
			<div class="col-sm">
				<p><span class="badge badge-secondary" title="Type of this poll: schedule meetings (no limit per option and public list) or coordinate volunteers (limit per option and private list).">%%POLLTYPE%%</span></p>
				<button type="button" class="btn btn-light" id="umfreditbutton" title="Edit the name and the description of this poll.">
					Edit
				</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm">
			<h3>Options</h3>
		</div>
		<div class="col-sm">
			Notes for each option
		</div>
	</div>
	<div class="container">
<!--MULTIPLE-Termin-BEGIN-->
		<div class="row admin-row">
			<div class="col-sm">
				<div class="form-group">
					<p>
						<b>%%NAME%%</b>
					</p>
					<p title="Number of submissions for this option and if available the limit of submissions.">
						%%ANZAHL%%
					</p>
				</div>
			</div>
			<div class="col-sm">
				<div class="parseasmarkdown">
					%%HINWEISE%%
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<button type="button" class="btn btn-light editbutton" id="%%TERMINID%%" title="Edit the namen, limit and notes for this option.">
					Edit
				</button>
			</div>
			<div class="col-sm col-sm-10">
				Submissions for this option:
				%%TEILNEHMER%%
			</div>
		</div>
<!--MULTIPLE-Termin-END-->
		<div class="row" style="margin-top: 1rem;">
			<div class="col-sm">
				<div class="form-group">
					<button type="button" class="btn btn-secondary editbutton" id="addadate" title="Adding an option at the end of this poll.">
						Add option
					</button>
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group" title="Swapping two options in this poll, only possible if no submissions available.">
					<button type="button" class="btn btn-secondary" id="swapbutton">
						Swap options
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-secondary" role="alert">
		<div class="row">
			<div class="col-sm" title="Ask the user for additional details besides his name and email address.">
				<h3>Custom Inputs</h3>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-light" id="saveadditionalinputs" title="Save the inputs given below (Changes are only only possible if no submissions are available).">
					Save custom inputs
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<ul class="list-group" id="listofadditionals">
					<li class="list-group-item">
						<span class="ui-icon ui-icon-pencil" title="Textinput"></span>
						Name
						<span title="Required">*</span>
					</li>
					<li class="list-group-item">
						<span class="ui-icon ui-icon-pencil" title="Textinput"></span>
						E-Mail-Address
						(optional)
					</li>
<!--MULTIPLE-Additionals-BEGIN-->
					<li class="list-group-item additionals-element" additionals-data="%%ADDDATA%%">
						<span class="ui-icon ui-icon-%%ADDTYPE%%"></span>
						<span class="additionals-name">%%ADDNAME%%</span>
						%%REQOPT%%
						<span class="ui-icon ui-icon-trash additionals-delete"></span>
					</li>
<!--MULTIPLE-Additionals-END-->
				</ul>
			</div>
		</div>
		<div class="row additionalscreate">
			<div class="col-sm">
				<h4>Add custom field</h4>
			</div>
		</div>
		<div class="row form-group additionalscreate">
			<div class="col-sm">
				<input type="text" placeholder="Name or text for the field" class="form-control" id="additionals-text">
			</div>
		</div>
		<div class="row form-group additionalscreate">
			<div class="col-sm">
				<select class="form-control" id="additionals-type">
					<option value="text">Textinput</option>
					<option value="checkbox">Checkbox beneath some text</option>
				</select>
			</div>
			<div class="col-sm">
				<select class="form-control" id="additionals-req">
					<option value="req">Required</option>
					<option value="opt">Optional</option>
				</select>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-light" id="addadditionalinputs" title="Add this field (Remember to save afterwards).">
					Add
				</button>
			</div>
		</div>
	</div>
	<div class="alert alert-primary" role="alert">
		<div class="row form-group">
			<div class="col-sm">
				<a href="%%EXPORTLINK%%" target="_blank">
					<button type="button" class="btn btn-primary" title="Generate a CSV export of all options and submissions.">
						Export
					</button>
				</a>
			</div>
			<div class="col-sm">
				<a href="%%PRINTLINK%%" target="_blank">
					<button type="button" class="btn btn-primary" title="Open a printable view of the submissions.">
						Printview
					</button>
				</a>
			</div>
		</div>
		<div class="row form-group">
			<div class="col-sm">
				<button type="button" class="btn btn-danger" id="deleteerg" title="Delete all submissions without deleting the poll.">
					Delete submissions
				</button>
			</div>
			<div class="col-sm">
				<button type="button" class="btn btn-danger" id="deleteall" title="Delete the poll and all the submissions.">
					Delete poll
				</button>
			</div>
		</div>
	</div>
</div>

<div id="editpoll" class="d-none" title="Change global information of this poll.">
	<div class="form-group">
		<input type="text" class="form-control pollname" placeholder="Name of this poll"><br />
		<textarea placeholder="Description of this poll" class="form-control description"></textarea><br/>
		<small class="form-text text-muted">Basic Markdown supported: <b>**bold**</b>, <em>*italic*</em>, - List, ### Heading</small>
		<div class="alert alert-danger d-none" role="alert">
			Unable to save changes.
		</div>
	</div>
</div>
<div id="editdate" class="d-none" title="Change or add a option of the poll.">
	<div class="form-group">
		<input type="text" class="form-control datename" placeholder="Name of this option"><br />
		<input type="number" class="form-control personlim" placeholder="Number of persons"><br />
		<textarea placeholder="Notes regarding this option" class="form-control notes"></textarea><br/>
		<small class="form-text text-muted">Basic Markdown supported: <b>**bold**</b>, <em>*italic*</em>, - List, ### Heading</small>
		<div class="alert alert-danger d-none" role="alert">
			Unable to save changes.
		</div>
	</div>
</div>
<div id="deletepoll" class="d-none" title="Delete?">
	<div class="pollsubm" class="d-none">
		<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
		Do your really want to delete all submissions?<br />
		This can't be undone!
	</div>
	<div class="pollentire" class="d-none">
		<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
		Do your really want to delete the entire poll?<br />
		This can't be undone!
	</div>
</div>
<div id="swapdate" class="d-none" title="Swap two dates.">
		<div class="form-group">
			<select class="form-control" id="swapA">
			</select>
			<span class="ui-icon ui-icon-arrowthick-2-e-w"></span>
			<select class="form-control" id="swapB">
			</select>
		</div>
		<div class="alert alert-danger d-none" role="alert">
			Unable to save changes.
		</div>
	</div>

<script>
	localStorage.removeItem('newPollData');
	var template_data = JSON.parse( '%%JSONDATA%%' );
	var template_name = 'admin';
</script>