<!doctype html>
<html lang="de">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="%%HOST%%/load/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" href="%%HOST%%/load/jquery-ui.min.css">
		<link rel="stylesheet" href="%%HOST%%/load/jquery-ui.theme.min.css">

		<title>%%TITLE%% &ndash; %%PAGENAME%%</title>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<div class="container">
					<h1 class="display-3">%%TITLE%%</h1>
					<p>
						%%SUBTITLE%%
					</p>
					<p>
						<a class="btn btn-primary btn-lg" href="%%MAINBUTTONDEST%%">
							%%MAINBUTTONTASK%%
						</a>
					</p>
				</div>
			</div>
			<div class="container">
				%%INNERCONTAINER%%	
			</div>
			<hr/>

			<footer>
				<p>KIMB-Forms-Project</p>
				%%MOREFOOTER%%
			</footer>
		</div>

		<script src="%%HOST%%/load/jquery.min.js"></script>
		<script src="%%HOST%%/load/jquery-ui.min.js"></script>
		<script src="%%HOST%%/load/main.js"></script>
	</body>
</html>
