<h2>Neues Formular</h2>

<form action="%%FORMDEST%%" method="POST">

<div class="container">
	<div class="alert alert-dark" role="alert">
		<div class="row align-items-start">
			<div class="col">
				<h4>Allgemein</h4>
			</div>
		</div>
		<div class="row align-items-start">
			<div class="col">
				<input name="pollname" placeholder="Name"><br />
				<textarea placeholder="Beschreibung" name="description"></textarea>
			</div>
			<div class="col">
				<div title="Personen für eine Menge von Terminen suchen, jede Person kann einen oder mehrere Termine wählen,
				solange dort noch Plätze frei sind. Die Ergebnisse sind nicht öffentlich.">
					<input type="radio" name="formtype" value="person" checked> Personen suchen
				</div>
				<div title="Termine für eine Menge von Personen suchen, jede Person kann sich für eine oder mehrere der
				Möglichkeiten eintragen, die Ergebnisse sind für alle sichtbar.">
					<input type="radio" name="formtype" value="meeting"> Termin finden
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-light" role="alert">
		<div class="row align-items-start">
			<div class="col">
				<h4>Termine</h4>
			</div>
		</div>
		<div class="row align-items-start" id="examplecontainer">
			<div class="col col-1 laufindex">
				1
			</div>
			<div class="col">
				<input type="text" placeholder="Bezeichnung" name="bezeichnungen[]"><br />
				<input type="number" placeholder="Anzahl" name="anzahlen[]" class="persononly"
					title="Anzahl der maximal gesuchten Personen.">
			</div>
			<div class="col">
				<textarea placeholder="Hinweis" name="hinweise[]" class="hinweise"></textarea>
			</div>
			<hr />
		</div>
		<div class="row align-items-start">
			<div class="col col-1 laufindex">
				2
			</div>
			<div class="col">
				<input type="text" placeholder="Bezeichnung" name="bezeichnungen[]"><br />
				<input type="number" placeholder="Anzahl" name="anzahlen[]" class="persononly"
					title="Anzahl der maximal gesuchten Personen.">
			</div>
			<div class="col">
				<textarea placeholder="Hinweis" name="hinweise[]" class="hinweise"></textarea>
			</div>
			<hr />
		</div>
		<div id="add-more-here">
		</div>
		<div class="row align-items-start">
			<div class="col">
				<button id="new-weiterer" type="button">Weiterer</button>
			</div>
			<hr />
		</div>
	</div>
	<div class="row align-items-start">
		<div class="col">
			<div class="alert alert-primary" role="alert">
				<input type="submit" value="Erstellen">
			</div>
		</div>
	</div>
</div>

</form>

<script>
	console.log(12);
	var laufindex = 2;
	var template_name = 'new';
</script>