<h2>Create new poll</h2>

<form action="%%FORMDEST%%" method="POST">

<div class="container">
	<div class="alert alert-dark" role="alert">
		<div class="row">
			<div class="col-sm">
				<h4>General information</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<input name="pollname" type="text" class="form-control" placeholder="Name of the poll"><br />
			</div>
			<div class="col-sm">
				<div title="Spread volunteers over some options. Each option has a maximum number of persons and each person can choose one
					or more option as long as the maxmimum is not reached. Only the admin can see the submissions.">
					<input type="radio" name="formtype" class="form-check-input" value="person" checked> Coordinate volunteers
				</div>
				<div title="Schedule a meeting with many persons. There are multiple options and each person
					can choose out of them. All can see the submissions.">
					<input type="radio" name="formtype" class="form-check-input" value="meeting"> Schedule meetings
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<textarea placeholder="Description of the poll" class="form-control" name="description"></textarea>
				<small class="form-text text-muted">Basic Markdown supported: <b>**bold**</b>, <em>*italic*</em>, - List, ### Heading</small>
			</div>			
		</div>
	</div>
	%%INNERCONTAINER%%
	<div class="alert alert-light" role="alert">
		<div class="row">
			<div class="col-sm">
				<h4>Options</h4>
			</div>
		</div>
		<div class="row" id="examplecontainer">
			<div class="col-sm col-sm-1 laufindex">
				1
			</div>
			<div class="col-sm">
				<div class="form-group">
					<input type="text" placeholder="Name of this option" name="bezeichnungen[]" class="form-control">
					<input type="number" placeholder="Limit" name="anzahlen[]" class="persononly form-control"
						title="Maximum number of persons for this option.">
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<textarea placeholder="Notes regarding this option" name="hinweise[]" class="hinweise form-control"></textarea>
					<small class="form-text text-muted">Basic Markdown supported: <b>**bold**</b>, <em>*italic*</em>, - List, ### Heading</small>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm col-sm-1 laufindex">
				2
			</div>
			<div class="col-sm">
				<div class="form-group">
					<input type="text" placeholder="Name of this option" name="bezeichnungen[]" class="form-control">
					<input type="number" placeholder="Limit" name="anzahlen[]" class="persononly form-control"
						title="Maximum number of persons for this option.">
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<textarea placeholder="Notes regarding this option" name="hinweise[]" class="hinweise form-control"></textarea>
					<small class="form-text text-muted">Basic Markdown supported: <b>**bold**</b>, <em>*italic*</em>, - List, ### Heading</small>
				</div>
			</div>
		</div>
		<div id="add-more-here">
		</div>
		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<button id="new-weiterer" class="btn btn-secondary" type="button">Add more options</button>
				</div>
			</div>
		</div>
	</div>
	%%TEXTSEINWILL%%
	%%CAPTCHA%%
	<div class="alert alert-primary" role="alert">
		<div class="row">
			<div class="col-sm">
				<input type="submit" class="btn btn-primary" value="Create poll">
			</div>
		</div>
	</div>
</div>

</form>

<script>
	var laufindex = 2;
	var template_name = 'new';
</script>