<h1>Umfrage</h1>
<h2>%%POLLNAME%%</h2>

%%INNERCONTAINER%%

<div class="alert alert-dark" role="alert">
	<div class="parseasmarkdown">
		%%POLLDESCRIPT%%
	</div>
</div>

<form action="%%FORMDEST%%" method="post">
<input type="hidden" name="pollsend" value="yes">

<div class="container">
	<div class="row">
		<div class="col col-1">
		</div>
		<div class="col" title="Name des Termins und Anzahl der verfügbaren Plätze.">
			<h3>Termine</h3>
		</div>
		<div class="col">
			Hinweise
		</div>
	</div>
	<div class="alert alert-light" role="alert">
<!--MULTIPLE-Termin-BEGIN-->
		<div class="row">
			<div class="col col-1">
				<input type="checkbox" name="%%TERMINID%%" class="terminwahl form-control"
					title="Diesen Termin auswählen.">
			</div>
			<div class="col">
				<div class="form-group">
					<p>
						%%NAME%%
					</p>
					<p>
						%%ANZAHL%%
					</p>
				</div>
			</div>
			<div class="col">
				<div class="parseasmarkdown">
					%%HINWEISE%%
				</div>
			</div>
		</div>
<!--MULTIPLE-Termin-END-->
	</div>
	%%CAPTCHA%%
	<div class="alert alert-primary" role="alert">
		<div class="row">
			<div class="col">
				<div class="form-group">
					<input type="text" name="name" placeholder="Name" class="username form-control"
						title="Name der Person, die die Schicht übernimmt (Pflichtfeld).">
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<input type="email" name="email" placeholder="E-Mail-Adresse" class="usermail form-control"
						title="Kontakadresse für Nachfragen (optional).">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input type="submit" class="btn btn-primary" value="Absenden">
			</div>
		</div>
	</div>
</div>

</form>

<script>
	var template_name = 'poll';
</script>