<h1>Umfrage ausfüllen</h1>
<h2>%%POLLNAME%%</h2>

%%INNERCONTAINER%%

<div class="alert alert-dark" role="alert">
	<div class="parseasmarkdown">
		%%POLLDESCRIPT%%
	</div>
</div>

<form action="%%FORMDEST%%" method="post">
<input type="hidden" name="pollsend" value="yes">

<div class="container">
	<div class="row">
		<div class="col-sm col-sm-1">
		</div>
		<div class="col-sm" title="Name des Termins sowie Anzahl bisherigen Teilnehmer und evtl. maximalen Anzahl Teilnehmer.">
			<h3>Termine</h3>
		</div>
		<div class="col-sm">
			Hinweise zum Termin
		</div>
	</div>
	<div class="alert alert-light" role="alert">
<!--MULTIPLE-Termin-BEGIN-->
		<div class="row">
			<div class="col-sm col-sm-1">
				<div class="form-group text-center">
					<input type="checkbox" name="%%TERMINID%%" class="terminwahl form-check-input" value="yes" %%DISABLE%%>
				</div>
			</div>
			<div class="col-sm">
				<p>
					%%NAME%%
				</p>
				<p>
					%%ANZAHL%%
				</p>
			</div>
			<div class="col-sm">
				<div class="parseasmarkdown">
					%%HINWEISE%%
				</div>
				<div class="form-group d-none">
					<button termid="%%TERMINID%%" class="deletemy btn btn-light float-sm-right btn-sm" type="button">Meinen Eintrag löschen</button>
				</div>
			</div>
		</div>
<!--MULTIPLE-Termin-END-->
	</div>
	%%TEXTSEINWILL%%
	%%CAPTCHA%%
	<div class="alert alert-primary" role="alert">
		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<input type="text" name="name" placeholder="Name" class="username form-control"
						title="Name der Person, die den Termin wahrnimmt. &ndash; Pflichtfeld">
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<input type="email" name="email" placeholder="E-Mail-Adresse" class="usermail form-control"
						title="E-Mail Adresse der Person für Nachfragen. &ndash; optional und nur für Admins sichtbar">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<input type="submit" class="btn btn-primary" value="Umfrage absenden">
			</div>
		</div>
	</div>
</div>

</form>

<script>
	var template_name = 'poll';
	var pollid = '%%POLLID%%';
	var deletesubmissonapi = '%%DELSUBAPI%%';
</script>