<h1>Submit a poll</h1>
<h2>%%POLLNAME%%</h2>

%%INNERCONTAINER%%

<div class="alert alert-dark" role="alert">
	<div class="parseasmarkdown">
		%%POLLDESCRIPT%%
	</div>
</div>

<form action="%%FORMDEST%%" method="post">
<input type="hidden" name="pollsend" value="yes">

<div class="container">
	<div class="row">
		<div class="col-sm col-sm-1">
		</div>
		<div class="col-sm" title="Name of the option, the number of previous participants and if available the maxmimum number of participants.">
			<h3>Options</h3>
		</div>
		<div class="col-sm">
			Notes regarding the option
		</div>
	</div>
	<div class="alert alert-light" role="alert">
<!--MULTIPLE-Termin-BEGIN-->
		<div class="row">
			<div class="col-sm col-sm-1 text-center">
				<input type="checkbox" name="%%TERMINID%%" class="terminwahl form-check-input" value="yes" %%DISABLE%%>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<p>
						%%NAME%%
					</p>
					<p>
						%%ANZAHL%%
					</p>
				</div>
			</div>
			<div class="col-sm">
				<div class="parseasmarkdown">
					%%HINWEISE%%
				</div>
			</div>
		</div>
<!--MULTIPLE-Termin-END-->
	</div>
	%%TEXTSEINWILL%%
	%%CAPTCHA%%
	<div class="alert alert-primary" role="alert">
		<div class="row">
			<div class="col-sm">
				<div class="form-group">
					<input type="text" name="name" placeholder="Name" class="username form-control"
						title="Name of the participant. &ndash; required">
				</div>
			</div>
			<div class="col-sm">
				<div class="form-group">
					<input type="email" name="email" placeholder="E-Mail-Address" class="usermail form-control"
						title="E-Mail-Address corresponding to the participant. &ndash; optional, only visible for admins">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<input type="submit" class="btn btn-primary" value="Submit poll">
			</div>
		</div>
	</div>
</div>

</form>

<script>
	var template_name = 'poll';
	var pollid = '%%POLLID%%';
</script>
