<div class="alert alert-success" role="alert">
	<div class="row">
		<div class="col">
			<h4 class="alert-heading">Erfolgreich eingetragen!</h4>
			%%POLLNAME%%
			<ul>
				<li>
					Gewählte Termine<br />
					%%TERMINE%%
				</li>
				<li>
					%%NAME%%
				</li>
				<li>
					%%EMAIL%%
				</li>
			</ul>
		</div>
	</div>

	<a class="btn btn-primary btn-lg" href="%%REDOLINK%%">
		Erneut teilnehmen
	</a>
</div>

<script>
	var on_site_loaded = () => {
		poll_submissions_delete_code( '%%POLLID%%', %%VALUES%%, '%%CODE%%' );
		delete_wahl_for_poll( '%%POLLID%%' );
	}
</script>