
<div class="container">
	<div class="card-deck mb-3 text-center">
		<div class="card mb-4 box-shadow">
			<div class="card-header">
				<h4 class="font-weight-normal">Create</h4>
		</div>
		<div class="card-body">
			<p>
				Create a new poll.
			</p>
			<button id="newlos">Go</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Participate</h4>
		</div>
		<div class="card-body">
			<p>
				Fill out a poll, using a poll ID.
			</p>
			<input type="text" placeholder="Poll ID" id="pollid">
			<button id="polllos">Go</button>
		</div>
	</div>
	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Edit</h4>
		</div>
		<div class="card-body">
			<p>
				Edit a poll and see the results, using an Admin-Code.
			</p>
			<input type="text" placeholder="Admin-Code" id="admincode">
			<button id="adminlos">Go</button>
		</div>
	</div>
</div>

<script>
	var template_name = 'start';
</script>