<h1>Meine Einträge</h1>
<a class="btn btn-secondary btn-lg float-sm-right" href="%%BACKTOPOLLLINK%%" type="button">
	&larr; Zurück zur Umfrage
</a>
<h2>%%POLLNAME%%</h2>

%%INNERCONTAINER%%

<div class="container mb-5 mt-5">
	<h3>Einträge mit diesem Gerät</h3>
	<div class="alert alert-info" role="alert">
		Beim Ausfüllen einer Umfrage wird im Browser ein Code zum Löschen des Eintrags
		abgelegt.<br>
		Mit diesem Code können Einträge direkt mit dem Button
		"Meinen Eintrag löschen" auf der Seite der Umfrage gelöscht werden.<br>
		Die Liste zeigt alle Einträge an, die so zu löschen sind:
	</div>
	<ul class="list-group entriesSamePollDelcode">
	</ul>
</div>

<div class="container mb-5 %%MAILDISABLED%%">
	<h3>Einträge über die E-Mail-Adresse abfragen</h3>
	<div class="alert alert-info" role="alert">
		Wurde ein Eintrag auf einem anderen Gerät vorgenommen oder taucht nicht mehr in der Liste oben auf,
		so kann hier eine Liste mit allen Einträgen für eine bestimmte E-Mail-Adresse angefragt werden.<br>
		Die Liste wird an die angegebene E-Mail-Adresse versendet und beinhaltet auch die Links zum Löschen der
		Einträge.<br>
		Achtung, es kann sein, dass Anfragen nicht für alle E-Mail-Adresse freigeschaltet sind.
	</div>
	<div class="container %%MAILFORM%%">
		<form action="%%FORMDEST%%" method="post">
			%%CAPTCHA%%
			<div class="row">
				<div class="col-sm form-group">
					<input type="email" name="email" placeholder="E-Mail-Adresse" class="form-control"
						title="E-Mail-Adresse die für die abzufragenden Einträge genutzt wurde." pattern="%%PATTERN%%">
				</div>
				<div class="col-sm form-group">
					<input type="submit" class="btn btn-primary form-control" value="Anfrage absenden">
				</div>
			</div>
		</form>
	</div>
	<div class="alert alert-success %%MAILSUCCESS%%" role="alert">
		Falls Einträge gefunden wurden, haben wir eine E-Mail verschickt.
	</div>
</div>

<div class="container mb-5">
	<h3>Einträge in anderen Umfragen mit diesem Gerät</h3>
	<div class="alert alert-info" role="alert">
		Die Liste zeigt alle Umfragen an, an denen mit 
		diesem Browser teilgenommen wurde:
	</div>
	<ul class="list-group entriesOtherPollDelcode">
	</ul>
</div>

<script>
	var template_name = 'submissionquery';
	var template_data = JSON.parse('%%JSONDATA%%');
</script>